 /* ================== Portfolio ===================== */

.container.portfolio__container {
    width: 500px;
}
.container.portfolio__container img {
    height: 200px;
}
.coverLayer h3, .coverLayer .portfolio__item-cta {
    opacity: 0;
    transition: var(--transition);
}
.coverLayer:hover h3 , .coverLayer:hover .portfolio__item-cta {
    opacity: 1;
}

#light .coverLayer h3 {
    color: white;
} 

/* ======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
/* @media screen and (max-width:1024px) {
    #dark section .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    #light section .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
} */
/* ======== MEDIA QUERIES (SMALL DEVICES) ======== */
/* @media screen and (max-width:600px) {
} */

/* ================== End Of Portfolio ===================== */
