/* ================== Portfolio ===================== */

section .portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
#dark .portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
#dark .portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 150px;
}
.portfolio__item h3 {
    margin: 1.2rem 0 1.2rem;
}
.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* LIGHT */

#light .portfolio__item {
    background: var(--color-bg-variant-lmode);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
#light .portfolio__item:hover {
    border-color: var(--color-primary-variant-lmode);
    background: transparent;
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width:1024px) {
    #dark section .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    #light section .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
/* ======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width:600px) {
    #dark section .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #light section .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/* ================== End Of Portfolio ===================== */
