/* ================== About ===================== */
.about__container {
    display: grid;
    grid-template-columns: 25% 60%;
    gap: 15%;
}
#dark .about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary));
    display: grid;
    place-items: center;
}
#dark .about__me img {
border-radius: 2rem;
overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}
#dark .about__me img:hover {
    transform: rotate(0);
}
#light .about__me img:hover {
    transform: rotate(0);
}
.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
#dark .about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
#dark .about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
#dark .about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5 {
    font-size: 0.95rem;
}
#dark .about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}
#dark .about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* LIGHT */


#light .about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary-lmode));
    display: grid;
    place-items: center;
}
#light .about__me img {
border-radius: 2rem;
overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}


#light .about__card {
    background: var(--color-bg-variant-lmode);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
#light .about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant-lmode);
    cursor: default;
}
#light .about__icon {
    color: var(--color-primary-lmode);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
#light .about__card small {
    font-size: 0.7rem;
    color: var(--color-white-lmode);
}
#light .about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-white-lmode);
}
/* ======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width:1024px) {
    #dark .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    #dark .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    #dark .about__content p {
        margin: 1rem 0 1.5rem;
    }
    /* LIGHT */
    #light .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    #light .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    #light .about__content p {
        margin: 1rem 0 1.5rem;
    }
}
/* ======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width:600px) {
    #dark .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }
    #dark .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    #dark .about__content {
        text-align: center;
    }
    #dark .about__content p {
        margin: 1.5rem 0;
    }
    /* LIGHT */
    #light .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }
    #light .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    #light .about__content {
        text-align: center;
    }
    #light .about__content p {
        margin: 1.5rem 0;
    }
}
/* ================== End Of About ===================== */
